// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$medium-gray: #4A4A4A;

//stage-in
$darkgray: #252A34;
$blue: #08D9D6;
$pink: #FF2E63;
