// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

body {
  color: $dark-gray;
}
h1 {
  font-size: 56px;
  font-weight: 700;
}
h2 {
  font-size: 48px;
  font-weight: 700;
}
h3 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}
h4 {
  font-size: 24px;
  font-weight: bold;
}
h5 {
  font-size: 24px;
  font-weight: bold;
}
h6 {
  font-size: 16px;
  font-weight: 300;
}
p {
  font-size: 24px;
}
