// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

body {
  color: $dark-gray;
  font-size: $font-size-base;
}
h1 {
  font-family: $body-font;
  font-size: 50px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
h2 {
  font-size: 43px;
  font-weight: 700;
  margin-top: 10px;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
h4 {
  font-size: 20px;
  font-weight: bold;
}
h5 {
  font-size: 20px;
  font-weight: bold;
}
h6 {
  font-size: 18px;
  font-weight: 300;
}
p {
  font-size: 16px;
}
@media (max-width : 375px){
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
  h2 {
    font-size: 30px;
    line-height: 45px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }
}
.pink {
  color: $pink;
}
.blue {
  color: $blue;
}
.darkgray {
  color: $dark-gray;
}
