$shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 0 0 rgba(0,0,0,0.03);
$radius: 13px;
$validation-color: #B2D430;


//MARGINS
.margin-bottom-small {
  margin-bottom: 40px;
}
.margin-big-top {
  margin-top: 60px;
}

//PADDINGS
.padding-side {
  padding: 0 40px 0 40px;
}
.padding-box {
  padding: 20px;
}

//DIV AND INPUT
.center {
  margin: auto;
}
.underline {
  border-bottom: 2px solid $medium-gray;
  padding-bottom: 5px;
}
.underline-light {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 20px;
}
//PLACEMENT
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-horizontal {
  display: flex;
  justify-content: center;
}
.flex-left {
  display: flex;
  justify-content: left;
}
.flex-vertical {
  display: flex;
  align-items: center;
}
.fixed-top {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
//LINK
a:hover {
  text-decoration: none !important;
}
//POSITION
.relative {
  position: relative;
}
//TEXTE
i.fa.fa-hand-o-right{
    font-size: 32px;
    margin-right: 20px;
}
.validated {
  background-color: $validation-color;
}
