$shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 0 0 rgba(0,0,0,0.03);

.margin-bottom-small {
  margin-bottom: 40px;
}
.center {
  margin: auto;
}
.underline {
  border-bottom: 2px solid $medium-gray;
  padding-bottom: 5px;
}
.underline-light {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 20px;
}
.padding-content {
  padding: 0 20px 0 20px;
}
.padding-box {
  padding: 20px;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-horizontal {
  display: flex;
  justify-content: center;
}
.flex-vertical {
  display: flex;
  align-items: center;
}
.fixed-top {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.fixed-under-top {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 10;
}
.min-width {
  min-width: 200px;
}
a:hover {
  text-decoration: none !important;
}
