

<div class="inscription-wrapper flexbox" id="step0">
  <div class="inscription-form">
    <h2>S'inscrire en tant qu'élève</h2>
    <p class="relative"><i class="fa fa-star fontawesome"></i>Tu es sur le point de t’inscrire sur stage-in.
    Pour trouver un stage facilement dans le pays ribéracois, pose-toi,  fait l’inscription sérieusement, et suit le guide.
    Les champs avec une étoile * sont indispensable.
    </p>
    <div class="flex-left">
      <%= link_to "#step1", class: "scroll", id: "go-student" do %>
        <div class="margin-big-top btn-medium btn-blue flexbox">ok</div>
      <% end %>
      <%= link_to "#step-company", class: "scroll", id:"go-company" do %>
        <div class="margin-big-top btn-placehold flexbox"><p>S'inscrire en tant qu'entreprise</p></div>
      <% end %>
    </div>
  </div>
</div>

<div id="student">
  <%= render "student" %>
</div>
<div id="company">
<%= render "company" %>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $('#student').hide();
    $('#company').hide();
  });

  $('#go-student').on('click', function(event){
    $('#student').show();
  })
  $('#go-company').on('click', function(event){
    $('#company').show();
  })

  $('#trigger-recapitulatif').on('click', function(event){
    alert('hey');
    $('#prenom').html($('#user_first_name').val());
    $('#nom').html($('#user_last_name').val());
    $('#adresse').html($('#user_address').val());
    $('#telephone').html($('#user_phone').val());
    $('#email').html($('#user_email').val());
    $('#classe').html($('#user_level').val());
    // ($('#user_last_name').val());
  })
</script>
