
<% if params[:user][:role] == "student"  %>
  <div id="student">
    <%= render "student" %>
  </div>
<% elsif params[:user][:role] == "company" %>
  <div class="container-fluid" style="display: flex; justify-content: center">
    <%= render "company" %>
  </div>
<% end %>
