.checkpoint-column {
  width: 50%;
  height: calc(100vh - 70px);
  float: left;
  background-size: cover;
}
.checkpoint-placeholder {
  background-color: white;
  border-radius: $border-radius;
  min-height: 300px;
  margin: auto;
}
.checkpoint-list {
  background-color: none;
  border-radius: 13px;
  width: 75%;
  min-height: 300px;
  margin: auto;
}
.checkpoint {
  background-color: white;
  border-radius: 13px;
  border: none;
  padding: 20px 30px 20px 30px;
  margin-bottom: 10px;
}
.checked {
  background-color: $anis;
  color: white;
}

