// Specific CSS for your home-page
.home {
  background-color: white;
  background-size: cover;
}
.menu {
  font-size: 20px;
  font-weight: regular;
}
.invert {
  color: white;
}
.background-bottom {
  background-size: 2200px 286px;
}
#page1 {
  background-image:url("http://res.cloudinary.com/doodlid/image/upload/v1508837558/stagein/stagein_home1.jpg");
  height: calc(100vh - 70px);
  background-position: center;
}
#page2 {
  height: 100vh;
  width: 100%;
}
#page3 {
  height: 100vh;
  width: 100%;
}
.page-content{
  margin: auto;
  width: 70%;
  margin-top: 80px;
}
.page-text-information {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 300px;
  color: white;
  background-color: $blue;
  h3 {
    transform: rotate(-90deg);
    position: absolute;
    left: -87px;
    top: 125px;
  }
}
.banner-call {
  width: 900px;
  height: 330px;
  margin-top: 110px;
}
.text-on-image {
  position: absolute;
  bottom: 5px;
}
.icon1 {
  color: $pink;
}
.icon2 {
  color: $blue;
}
.icon3 {
  color: $dark-gray;
}
