.fontawesome {
  font-size: 56px;
  position: absolute;
  left: -75px;
}
.recap-data {
  font-style: italic;
}
.inline-form-wrapper {
  height: 90px;
  margin: 50px 0 50px 0;
  select {
    width: 300px;
    margin-right: 40px;
  }
}
select#hiring_number {
  width: 100px;
}
.inline-form-wrapper-xs {
  margin: 50px 0 50px 0;
  select {
    width: 150px;
    margin-right: 40px;
  }
}
