.fontawesome {
  font-size: 56px;
  position: absolute;
  left: -75px;
}
.recap-data {
  font-style: italic;
}
.inline-form-wrapper {
  margin: 50px 0 50px 0;
  input {
    max-height: 40px;
    margin-right: 40px;
  }
  select {
    max-height: 40px;
    width: 100%;
    background-color: white;
    margin-right: 40px;
  }
  label {
    margin-right: 50px;
  }
}


// .inline-form-wrapper-xs {
//   margin: 50px 0 50px 0;
//   select {
//     width: 150px;
//     margin-right: 40px;
//   }
// }
