.splitscreen-wrapper{
  position: relative;
  width: 100%;
  margin: 0px;
}
.splitscreen-column {
  width: 50%;
  height: calc(100vh - 70px);
  float: left;
  background-size: cover;
}
#splitscreen-title {
  position: absolute;
  left: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 13px;
  color: $dark-gray;
  margin-left: -136px;
}
