.skill-question {
  padding: 20px;
  background-color: white;
  border-radius: $border-radius;
  color: $dark-gray;
  margin-top: 30px;
  h3, p {
    margin: 0px;
  }
}

@media (max-width : 375px){
  .skill-question {
    margin-top: 0;
    border-radius: 0;
    h3, p {
      margin: 0px;
    }
  }
  .skill-image {
    height: 140px;
    background-size: cover;
  }
}
.skill-answers {
  height: calc(100vh - 220px);
}
