<div class="flexbox padding-side margin-top-big">
  <%= render "shared/hiring" %>
  <div class="splitscreen-column">
    <div class="checkpoint-list">
      <div id="checks-list">
        <% unless @student_hiring.checked? %>
            <h5>Valide les démarches que tu as fait en cliquant:</h5>
            <% @hiring_checkpoints.each do |hiring_checkpoint| %>
              <%= render "link_checking", hc: hiring_checkpoint %>
            <% end %>
        <% else %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('#btn-postuler').hide();
  <% end %>
<% end %>
