<div class="full-height under-navbar checklist-wrapper padding-box" style="background-image: linear-gradient(60deg, rgba(255,255,255,0.3), rgba(255,255,255,0.2)), url(<%= image_path 'stagein_company.jpg' %>)">
  <div class="row full-width checklist-container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-offset-2">
      <%= render "shared/hiring" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div id="checks-list">
        <h5>Valide les démarches que tu as fait en cliquant:</h5>
        <% @hiring_checkpoints.each do |hiring_checkpoint| %>
          <%= render "link_checking", hc: hiring_checkpoint %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('#btn-postuler').hide();
  <% end %>
<% end %>


