<div class="footer">
  <div class="footer-links">
    <a href="http://www.cc-paysriberacois.fr/" target="_blank"><%= image_tag "paysriberacois.png" %></a>
<!--     <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    Une initiative de la communauté de commune du Pays Ribéracois
    <br>
    <%= link_to 'Mentions légales', legal_path %>
  </div>
</div>
