<% content_for :meta_title, "Stage-in - Mentions Legales" %>
<% content_for(:robots) do %>
  <meta name="robots" content='noindex, nofollow'>
<% end %>
<%#= render 'shared/banner_half_screen' , title: "Mentions Légales" %>
<div class="container mt-4 text-justify quicksandlight">
  <h1>Mentions Légales</h1>
  <section>
    <h3>EDITEUR DU SITE INTERNET</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad repellat, deserunt perspiciatis qui tempore? Placeat nisi a ipsum dolores accusantium similique corporis debitis voluptatibus libero. Veritatis labore modi quaerat ipsam.
    </p>
    <p>Lorem ipsum</p>
  </section>
  <section>
    <h3>HÉBERGEMENT DU SITE INTERNET</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad repellat, deserunt perspiciatis qui tempore? Placeat nisi a ipsum dolores accusantium similique corporis debitis voluptatibus libero. Veritatis labore modi quaerat ipsam.
    </p>
  </section>
  <section>
    <h3>DIRECTEUR DE PUBLICATION</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad repellat, deserunt perspiciatis qui tempore? Placeat nisi a ipsum dolores accusantium similique corporis debitis voluptatibus libero. Veritatis labore modi quaerat ipsam.
    </p>
  </section>
  <section>
    <h3>DÉCLARATION À LA COMMISSION NATIONALE INFORMATIQUE ET LIBERTÉS</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad repellat, deserunt perspiciatis qui tempore? Placeat nisi a ipsum dolores accusantium similique corporis debitis voluptatibus libero. Veritatis labore modi quaerat ipsam.
    </p>
  </section>

  <section>
    <h3>DESIGN</h3>
    <p>Le design de la Plateforme ZENEST.pro est l’œuvre de Enzo Pascual et Mihivai.</p>
  </section>
</div>
