<div style="text-align: left;">
  <h1>Bilan des entreprises inscrites</h1>
</div>
<br>

<p>La société <%= @user.company %> vient de s'inscrire.</p>

<p>Veuillez trouver ci-dessous le récapitulatif des entreprises inscrites :</p>


<p>
Bien cordialement, <br>
Stage-In<br>
</p>
