<div class="flexbox padding-side margin-top-big">
  <%= render "shared/hiring" %>

  <div class="splitscreen-column">
    <div class="checkpoint-placeholder flexbox">
      <p>Postule pour obtenir tes objectifs.</p>
    </div>
  </div>
</div>

