<% content_for(:title) do%>
  STAGE-IN - Offres de <%= @hiring.company.company %>
<% end %>

<div class="full-height under-navbar flex-vertical-center padding-box">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-offset-2">
      <%= render "shared/hiring" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="checkpoint-placeholder flexbox">
        <p>Postule pour obtenir tes objectifs.</p>
      </div>
    </div>
  </div>
</div>

