<div style="text-align: left;">
  <h1>Demande de contact</h1>

  <p>Bonjour,</p>
  <p>Un élève du collège <%= @student.college.college_name %> souhaite entrer en contact avec vous pour avoir des informations sur une offre de stage. </p>
  <p>Consulter votre compte pour gérer vos offres :</p>
  <br>
  <%= link_to "Mes offres de stage", company_hirings_url, class: "btn btn-blue",
    style: "text-decoration:none;
    background-color: #08D9D6;
    color: white;
    border-radius: 8px;
    height: auto !important;
    height: 56px;
    min-height: 56px;
    border: none;
    padding: 16px 30px 16px 30px;
    min-width: 200px;
    box-shadow: none;
    font-size: 16px;
    -webkit-box-shadow: none;
    border-bottom: none;
    cursor: pointer;
    white-space: normal;
    margin-bottom: 10px;"%>
</div>

<br>
<br>
Bien cordialement, <br>
Stage-In<br>
</p>
