input.btn-stagein, .btn-stagein {
  color: white;
  border-radius: 13px;
  height: 90px;
  border: none;
  padding: 0px 50px 0px 50px;
  max-width: 500px;
  border: none;
  margin-bottom: 0px;
  &:hover {
    background-color: $yellow;
    color: white;
  }
  p {
    margin-bottom: 0px;
  }
}
input.btn.btn-default.margin-big-top.btn-medium.btn-blue.fix-btn-simpleform {
  padding: 9px;
}
input.btn-submit, .btn-submit {
  padding: 10px 50px 10px 50px;
  margin-bottom: 0px;
}
.btn-blue {
  background-color: $blue;
}
.btn-pink {
  background-color: $pink;
}
.btn-gray {
  background-color: $dark-gray;
}
.btn-yellow {
  background-color: $yellow;
}
.btn-inverse {
  background-color: none;
  color: $dark-gray !important;
}
.btn-slim {
  color: white;
  border-radius: 13px;
  height: 40px;
  border: none;
  padding: 0px 30px 0px 30px;
  margin-bottom: 10px;
}
.btn-medium {
  color: white;
  border-radius: 13px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  border: none;
  padding: 0px 40px 0px 40px;
  max-width: 250px;
  border: none;
  margin-bottom: 0px;
  margin-right: 40px;
  &:hover {
    background-color: $yellow;
    color: white;
  }
}
.btn-inline {
  padding: 0px;
  margin: 35px 0 0 0 !important;
}
.btn-placehold {
  color: $dark-gray;
  border-radius: 13px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  border: none;
  padding: 0px 40px 0px 40px;
  border: none;
  margin-bottom: 0px;
  margin-right: 40px;
  p {
    font-size: 16px;
    text-transform: downcase;
    margin-bottom: 0px;
  }
  &:hover {
    background-color: $yellow;
    color: white;
  }
}
