.btn, input.btn, select.btn {
  color: white;
  border-radius: $border-radius;
  height: auto !important;
  height: $input-height; // for IE
  min-height: $input-height;
  border: none;
  padding: $font-size-base 30px $font-size-base 30px;
  min-width: 200px;
  box-shadow: none;
  font-size: $font-size-base;
  -webkit-box-shadow: none;
  border-bottom:none;
  cursor: pointer;
  white-space: normal;
  margin-bottom: 10px;
  &.btn-calltoaction {
    min-height: 75px;
    font-size: 0.9em;
  }
  p {
    margin-bottom: 0px;
  }
  &:hover {
    background-color: $light-yellow;
    color: white;
  }
  &.btn-tall {
    min-height: 70px;
    font-size: 24px;
    width: 100%
  }
  &.btn-wrap {
    white-space: normal;
  }
  &.btn-large {
    max-width: 350px;
  }
}
select {
  height: 70px;
}

.btn-submit{
  &.btn, &.btn-default {
    min-width: 60px;
    width: 60px;
    min-height: 60px;
    border: none;
  }
}
.btn-slim, a.btn-slim {
  color: white;
  background-color: $pink;
  border-radius: 40px;
  height: 40px;
  border: none;
  padding: 14px 30px 0 30px;
  &:hover {
    background-color: $yellow !important;
    color: white;
  }
}
.with-border {
  border: 1px solid $dark-gray !important;
}
input {
  &:focus {
    border: none;
  }
}
.btn-pink, .btn-2 {
  background-color: $pink;
}
.btn-gray {
  background-color: $dark-gray;
}
.btn-blue {
  background-color: $blue;
}
.btn-light-blue, .btn-0 {
  background-color: $light-blue;
}
.btn-red {
  background-color: $red;
}
.btn-green {
  background-color: $green;
}
.btn-yellow, .btn-1 {
  background-color: $yellow;
}
.btn-square{
  min-width: $input-height;
  width: $input-height;
  padding-right: 0;
  padding-left: 0;
}
.btn-inverse {
  color: $dark-gray !important;
  background-color: transparent;
  &:hover {
    background-color: $light-yellow;
  }
}
.btn-inverse-border {
  color: $dark-gray !important;
  background-color: transparent !important;
  border: 1px solid $dark-gray;
  &:hover {
    background-color: $light-yellow;
    color: white;
  }
}
input#case_photo {
  color: white;
  background-color: $pink;
  border-radius: $border-radius;
  height: 56px;
  min-width: 280px;
  border: none;
  padding: 0px 30px 0px 30px;
  max-width: 320px;
  min-width: 300px;
  box-shadow: none;
  font-size: 24px !important;
  -webkit-box-shadow: none !important;
  border-bottom:none;
  margin: 5px;
  p {
    margin-bottom: 0px;
  }
  &:hover {
    background-color: $yellow;
    color: white;
  }
  a {
    color: white;
  }
}
input, select {
  min-height: $input-height;
}
.submit-hidden {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
}
