.color-black {
  color: black;
}
.flex-wrap {
  flex-wrap: wrap;
}
.font-size-16px {
  font-size: 16px;
}
.hiring_state.state_accepted::after {
  content: "Accepté";
  background: green;
}
.hiring_state.state_required::after {
  content: "En attente";
  background: orange;
}
.hiring_state.state_denied::after {
  content: "Refusé";
  background: red;
}
.hiring_state::after {
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
}
.margin-bottom-0px {
  margin-bottom: 0px;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.fake-btn-slim {
  color: white;
  background-color: $pink;
  border-radius: 40px;
  height: 40px;
  border: none;
  padding: 0px 30px;
  &:hover {
    cursor: initial;
  }
}
.fake-btn-slim.btn-gray {
  background-color: $dark-gray !important;
}
