<div style="text-align: left;">
  <h1>Validation de votre compte</h1>

  <p>Votre collège a validé votre inscription, vous pouvez maintenant retourner sur stage-in et accéder aux détails des offres de stage :</p>
  <br>
  <%= link_to "Mes offres de stage", hirings_url, class: "btn btn-blue",
    style: "text-decoration:none;
    background-color: #08D9D6;
    color: white;
    border-radius: 8px;
    height: auto !important;
    height: 56px;
    min-height: 56px;
    border: none;
    padding: 16px 30px 16px 30px;
    min-width: 200px;
    box-shadow: none;
    font-size: 16px;
    -webkit-box-shadow: none;
    border-bottom: none;
    cursor: pointer;
    white-space: normal;
    margin-bottom: 10px;"%>
</div>
<br>
