<div style="text-align: center;">
  <h1>Confirmation d'inscription</h1>
</div>
<br>

<p><b>Votre inscription a bien été prise en compte <%= @user.full_name %>.</b></p>
<p>Votre collége va prendre connaissance de votre inscription et validera si votre dossier est complet, sous 48 heures votre inscription. <br>
Une fois votre inscription validée, vous pourrez alors postuler en ligne aux stages proposés selon vos centre d'intérêt.</p>

<p>
Bien cordialement, <br>
Stage-In<br>
</p>
